/* :root bevat globale variabelen en basisstijlen voor consistente weergave */
:root {
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    /* Kleurenschema en achtergrondkleur voor een donkere modus */
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    /* Optimalisaties voor tekst en rendering */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Algemene stijlen voor links */
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: none;
    transition: color 0.25s;
}

    a:hover {
        color: #535bf2;
    }

/* Body stijl om de layout te centreren */
body {
    margin: 0;
    display: flex;
    place-items: center; /* Centreer de inhoud verticaal en horizontaal */
    min-width: 320px;
    min-height: 100vh;
}

/* Stijlen voor koppen */
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

/* Algemene stijlen voor knoppen */
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s;
}

    button:hover {
        border-color: #646cff;
        background-color: #2a2a2a; /* Maak de hover-interactie visueel sterker */
    }

    button:focus,
    button:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }

/* Licht modus specifieke aanpassingen */
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
        color: #213547;
    }

        button:hover {
            background-color: #e0e0e0;
        }
}
