.privacy-policy-container {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

    .privacy-policy-container h1, h2 {
        color: #333;
    }

    .privacy-policy-container p, li {
        color: #666;
    }

.section {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

    .section:last-child {
        border-bottom: none;
    }

.link-button {
    color: #0077cc;
    text-decoration: none;
}

.privacy-policy-container h2 {
    font-size: 20px; /* Groter lettertype voor de sectietitels */
    font-weight: bold; /* Vetgedrukte titels */
    margin-top: 20px;
    margin-bottom: 10px;
}

.privacy-policy-container p {
    margin-bottom: 10px;
}

.privacy-policy-container {
    padding: 20px;
    line-height: 1.6;
}

